@media (max-width: 360px) {
  .nav {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .nav li {
    width: 100%;
  }
  .nav-img a {
    padding: 10px 0px;
  }
  .nav img {
    width: 30%;
  }
  .row {
    flex-direction: column;
  }
  .row > .col-1 {
    order: 2;
    width: 100%;
  }
  .row > .col-2 {
    width: 100%;
    order: 1;
  }
  .col-2 > img {
    width: 100%;
  }
  th {
    font-size: 15px;
  }

  td {
    font-size: 15px;
  }

  .list-pendidikan tr {
    display: flex;
    flex-direction: column;
    margin: 10px;
  }
  .list-pendidikan td,
  .list-pendidikan th {
    margin: 0px;
    padding: 5px 0px;
  }

  .skill .col {
    justify-content: flex-start;
    align-content: center;
    display: flex;
    border: 2px solid;
    margin: 5px 80px;
  }
  .skill p {
    align-self: center;
    display: flex;
    border: 2px solid;
    height: min-content;
    margin: 0px 20px;
  }
  .portfolio .card {
    text-align: center;
    display: flex;
    flex-direction: column;
    border: 2px solid;
    margin: 5px 80px;
  }


}
