<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="../css/output.css" rel="stylesheet" />
  </head>
  <body class="bg-sky-600">
    <nav class="border-b-2 flex justify-between px-5 py-3 h-auto">
      <div class="px-5"><a href="#" class="px-5">xxfizlmi</a></div>
      <div class="flex text-white hover:b">
        <div class="border-spacing-y-11 ">
          <a href="#" class="px-5 hover:text-slate-900">Home</a>
        </div>
        <div class="">
          <a href="#" class="px-5 hover:text-slate-900">About</a>
        </div>
        <div class="">
          <a href="#" class="px-5 hover:text-slate-900">portfolio</a>
        </div>
        <div class="">
          <a href="#" class="px-5 hover:text-slate-900">Tools</a>
        </div>
      </div>
    </nav>
    <div class="grid gap-1 content-between min-h-screen">
      <main class="">
        <div class="flex justify-center m-10 text-white">
          <div class="border w-1/2 flex">
            <div class="border p-10">
              <h1 class="text-3xl py-5">Saya Hafiz Ilmi</h1>
              <p class="text-xl">
                sebagai Frontend Developer dan belajar sampai keterampilan untuk
                forntend Developer. Sebelumnya Ia masih Mahasiswa S1 Teknik
                Informatika dan Lulusan D3 Teknologi Informasi di Unviersitas
                Brawijaya
              </p>
            </div>
          </div>
          <div class="border p-10 w-1/2">
            <div class="border flex justify-center">
              <img src="/public/img/user.png" alt="" />
            </div>
          </div>
        </div>
      </main>
      <footer class="border flex justify-center text-white">
        <p class="">Copyright &copy; 2024 xxfizlmi</p>
      </footer>
    </div>
  </body>
</html>
