.navbar {
  display: flex;
}

.navbar .navbar-logo {
  height: max-content;
  align-self: center; 
}

.navbar ul {
  overflow: hidden;
  padding: 0;
}
.navbar li {
  margin: 0;
  list-style-type: none;
  display: inline-block;
}

.navbar a {
  text-decoration: none;
}
